@font-face {
  font-family: 'fredoka-one';
  src: local('FredokaOne-Regular'), url(./fonts/FredokaOne-Regular.ttf) format('truetype');
}

section {
  background-color: #f3f3f3;
  border-right: 1px solid hsl(202,10%,88%);
  border-top: 1px solid hsl(202,10%,88%);
  margin: 1vw;
  width: fit-content;
}

input {
  border: none;
  box-sizing: border-box;
  font-size: 13px;
  height: 30px;
  padding: 6px;
  width: 100%;
}

/* input:focus:parent {
 z-index: 2;
}*/


hr {
  border-top: 2px solid #ececec;
  margin: 30px 0;
}

.row {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
