main {
  text-align: center;
}

@font-face {
  font-family: 'fredoka-one';
  src: local('FredokaOne-Regular'), url(./fonts/FredokaOne-Regular.ttf) format('truetype');
}

section {
  width: 98vw;
  background-color: #f3f3f3;
  margin: 1vw;
}

input {
  width: 50px;
}

.container-test {
  border-top: 1px solid hsl(202,10%,88%);
  border-right: 1px solid hsl(202,10%,88%);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row-test {
  display: flex;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
}

.row-test div {
  border-bottom: 1px solid hsl(202,10%,88%);
  border-left: 1px solid hsl(202,10%,88%);
  box-sizing: border-box;
  /* flex-basis: 100px; */
}